* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#siteContainer {
  display: flex;
  justify-content: center;
}

#weatherForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  background-color: #f2f2f2;
  border: 1px solid black;
  padding: 20px 20px;
}

.formField {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formLabel {
  padding-bottom: 3px;
  font-size: 14px;
}

.textField {
  font-size: 16px;
  padding: 11px;
  border: 0px;
  border-radius: 6px;
}

.textField:focus {
  outline: 1px solid black;
}

.getWeatherButton {
  margin-top: 20px;
  font-size: 14px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  width: 100px;
  padding: 10px 0;
}

.getWeatherButton:hover {
  cursor: pointer;
}

.getWeatherButton:disabled {
  background-color: gray;
}

.getWeatherButton:disabled:hover {
  cursor: auto;
}

#weatherData {
  padding-top: 20px;
  width: 100%;
}

.weatherItem {
  padding: 3px;
  font-size: 17px;
}

.errorItem {
  border: 1px solid red;
  border-radius: 5px;
  padding: 15px;
  color: red;
  font-size: 18px;
  text-align: center;
}

.loader {
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
