* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#siteContainer {
  display: flex;
  justify-content: center;
}

#firstForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  background-color: #f2f2f2;
  border: 1px solid black;
  padding: 20px 20px;
}

.formField {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formLabel {
  padding-bottom: 3px;
  font-size: 14px;
}

.textField {
  font-size: 16px;
  padding: 11px;
  border: 0px;
  border-radius: 6px;
}

.textField:focus {
  outline: 1px solid black;
}

.registerButton {
  margin-top: 20px;
  font-size: 14px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  width: 100px;
  padding: 10px 0;
}

.registerButton:hover {
  cursor: pointer;
}

#formResult {
  padding-top: 20px;
  width: 100%;
}

.formResultElement {
  padding-top: 3px;
}

.radioButtonContainer,
.checkboxContainer {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.radioField,
.checkboxField {
  margin-right: 5px;
}

.formRadioLabel,
.formCheckboxLabel {
  font-size: 14px;
  line-height: 14px;
}
